<header class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur!</p>
                    <h2 class="fs-1 mb-3">Submit your complaints <br> <span class="text-success">Right Now!</span></h2>
                    <p class="pb-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, aliquid velit. Architecto sed ex explicabo expedita ipsum culpa et corporis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse, placeat quis earum totam dolor explicabo magni reprehenderit voluptatibus harum dicta quasi animi, aliquid, rerum vero ea magnam obcaecati. Libero? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, voluptatibus! Hic similique, nulla ab nostrum libero minima error ipsam obcaecati.                     
                    </p>
                    <a href="#" class="btn btn-outline-success">Submit now!</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ url_for('static', filename='images/header.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</header>